.login-container {
    padding: 30px;
    background: white;
    max-width: 400px;
    min-width: 325px;
    margin: auto;
    width: 50%;
    margin-top: 15%;
}

.login-btn {
    width: 50%;
}

/* inputs */
.input-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: gray;
    transition: all .15s ease;
}

input:hover {
    background: rgba(#04aeb0,.03);
}

input:not + span {
    color: #04aeb0;
    transform: translateY(-26px) scale(.75);
}

input:focus,
.has-value > span {
    background: none;
    outline: none;
}

input:focus + span,
.has-value > span {
    color: #04aeb0;
    font-weight: bold;
    transform: translateY(-26px) scale(.85);
}

.has-value > span + .border,
input:focus + span + .border {
    transform: scaleX(1);
}
