.home-container {
    position: relative
}

.welcome-img {
    width:100%;
}

.home-container .welcome-msg {
    position: absolute;
    top: 0;
    left: 0;
}

/* featured dog cards*/
.dog-card {
    border: 1px solid #d2d2d2;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #d2d2d2;
    cursor: pointer;
    text-decoration: none;
    color: initial;
    font-weight: initial;
}

.dog-card img {
    width: 100%;
}

.dog-card:hover {
    box-shadow: 2px 2px 5px;
}

.card-container a {
    text-decoration: none !important;
}

/*mobile responsiveness*/
@media only screen and (max-width: 768px) {
    .home-container .welcome-msg {
        position: initial;
    }
}