nav {
    border-bottom: 1px solid #d2d2d2;
}

.logo-container {
    color: #04aeb1 !important;
}

nav a {
    border-bottom: transparent 2px solid;
}

nav a:hover {
    color: #04aeb1 !important;
    border-bottom: #04aeb1 2px solid;
}